pipelines/DataLakeIngestion.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"datalakeLS":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/DataLakeIngestion')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Get Metadata Folder","type":"GetMetadata","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"DataLakeDS","type":"DatasetReference","parameters":{"p_source":"source","p_folder":"raw_data"}},"fieldList":["childItems"],"storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}}},{"name":"ForEachFiles","type":"ForEach","dependsOn":[{"activity":"Get Metadata Folder","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('Get Metadata Folder').output.childItems","type":"Expression"},"activities":[{"name":"If Condition File Matches","type":"IfCondition","dependsOn":[],"userProperties":[],"typeProperties":{"expression":{"value":"@and(equals(item().name,'nocs.csv' ),equals(item().type,'File' ) )","type":"Expression"},"ifFalseActivities":[{"name":"Append rest variables","type":"AppendVariable","dependsOn":[],"userProperties":[],"typeProperties":{"variableName":"v_file_array","value":{"value":"@item().name","type":"Expression"}}}],"ifTrueActivities":[{"name":"Copy data souce to bronze","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"DelimitedTextSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"DelimitedTextWriteSettings","quoteAllText":true,"fileExtension":".txt"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"para_DS","type":"DatasetReference","parameters":{"p_container":"source","p_folder":"raw_data","p_file":{"value":"@item().name","type":"Expression"}}}],"outputs":[{"referenceName":"para_DS","type":"DatasetReference","parameters":{"p_container":"bronze","p_folder":"nocs","p_file":{"value":"@item().name","type":"Expression"}}}]}]}}]}},{"name":"Set variable Name","type":"SetVariable","dependsOn":[{"activity":"ForEachFiles","dependencyConditions":["Completed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_file_name","value":{"value":"@join(variables('v_file_array'), ', ')\n","type":"Expression"}}},{"name":"Set variable Size","type":"SetVariable","dependsOn":[{"activity":"ForEachFiles","dependencyConditions":["Completed"]}],"policy":{"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"variableName":"v_file_size","value":{"value":"@length(variables('v_file_array'))","type":"Expression"}}}],"policy":{"elapsedTimeMetric":{}},"variables":{"v_file_array":{"type":"Array"},"v_file_name":{"type":"String"},"v_file_size":{"type":"Integer"}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/DataLakeDS')]","[concat(variables('factoryId'), '/datasets/para_DS')]"]},{"name":"[concat(parameters('factoryName'), '/DataLakeDS')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('datalakeLS')]","type":"LinkedServiceReference"},"parameters":{"p_source":{"type":"string"},"p_folder":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":{"value":"@dataset().p_folder","type":"Expression"},"fileSystem":{"value":"@dataset().p_source","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"code","type":"String"},{"name":"country","type":"String"},{"name":"country_long","type":"String"},{"name":"tag","type":"String"},{"name":"note","type":"String"}]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/para_DS')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('datalakeLS')]","type":"LinkedServiceReference"},"parameters":{"p_container":{"type":"string"},"p_folder":{"type":"string"},"p_file":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().p_file","type":"Expression"},"folderPath":{"value":"@dataset().p_folder","type":"Expression"},"fileSystem":{"value":"@dataset().p_container","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]}]}