pipelines/GitToBronze.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"datalakeLS":{"type":"string"},"gitLS":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/GitToBronze')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LookupJSON","type":"Lookup","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"JsonDS","type":"DatasetReference","parameters":{}},"firstRowOnly":false}},{"name":"ForEachCSVFile","type":"ForEach","dependsOn":[{"activity":"LookupJSON","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('LookupJSON').output.value","type":"Expression"},"activities":[{"name":"GitToBronzeCopy","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"DelimitedTextSource","storeSettings":{"type":"HttpReadSettings","requestMethod":"GET"},"formatSettings":{"type":"DelimitedTextReadSettings"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"enableSkipIncompatibleRow":true,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"rawdatagit","type":"DatasetReference","parameters":{"p_rel_url":{"value":"@item().p_rel_url","type":"Expression"}}}],"outputs":[{"referenceName":"bronzedl","type":"DatasetReference","parameters":{"p_folder":{"value":"@item().p_folder","type":"Expression"},"p_file":{"value":"@item().p_file","type":"Expression"}}}]}]}}],"policy":{"elapsedTimeMetric":{}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/JsonDS')]","[concat(variables('factoryId'), '/datasets/rawdatagit')]","[concat(variables('factoryId'), '/datasets/bronzedl')]"]},{"name":"[concat(parameters('factoryName'), '/JsonDS')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('datalakeLS')]","type":"LinkedServiceReference"},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":"param.json","fileSystem":"bronze"}},"schema":{"type":"object","properties":{"p_rel_url":{"type":"string"},"p_folder":{"type":"string"},"p_file":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/rawdatagit')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('gitLS')]","type":"LinkedServiceReference"},"parameters":{"p_rel_url":{"type":"string"}},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"HttpServerLocation","relativeUrl":{"value":"@dataset().p_rel_url","type":"Expression"}},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/bronzedl')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('datalakeLS')]","type":"LinkedServiceReference"},"parameters":{"p_folder":{"type":"string"},"p_file":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().p_file","type":"Expression"},"folderPath":{"value":"@dataset().p_folder","type":"Expression"},"fileSystem":"bronze"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}